@font-face {
    font-family: Hanken Grotesk;
    src: url(https://fonts.google.com/specimen/Hanken+Grotesk);
}

 html, body {
    background-color: hsl(221, 100%, 96%);
    height: 100vh;
    margin: 0;
    font-family: Hanken Grotesk, sans-serif, serif;
 }

 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: auto; 
    margin: auto;
    margin-top: 200px;
    box-shadow: 20px 20px 5px hsl(204, 58%, 90%);
    border-radius: 15px;
    ;
 }

 .figure-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: auto;
    padding: 50px;
    background: radial-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 15px;
    color: hsl(0, 0%, 100%);
 }

 .circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 250px;
    height: 250px;
    padding-top: 30px;
    border-radius: 50%; 
 }

 .circle-score {
    font-size: 6em;
    margin: 0;
 }

/* Figure 2 Information*/
.figure-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: auto;
    padding: 50px;
    background-color: whitesmoke;
    border: solid grey 1px;
    border-left: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

/*Figure 2 Item Information*/  
.item-1,
.item-2,
.item-3,
.item-4 {
    display: flex;
    /* justify-content: space-between;
    align-items: space-between; */
    margin-top: 10px;
    padding: 0 10px ;
    border-radius: 5px;
  }

.icon-1,
.icon-2,
.icon-3,
.icon-4 {
    display: flex;
    justify-self: flex-start;
}

.item-1-title,
.item-2-title,
.item-3-title,
.item-4-title {
    display: flex;
    justify-self: flex-start;
    padding-left: 5px;
    padding-right: 200px;
}

.item-1-score,
.item-2-score,
.item-3-score,
.item-4-score {
    display: flex;
    justify-self: flex-end;
}

.item-1 {
    background-color: lightpink;
}

.item-1-title {
    color: red;
}

.item-2 {
    background-color: lightyellow;
}

.item-2-title {
    color: orange;
}

.item-3 {
    background-color: lightgreen;
}

.item-3-title {
    color: green;
}

.item-4 {
    background-color: lightblue;
}

.item-4-title {
    color: blue;
}

/*button*/
.btn {
    background-color: hsl(241, 81%, 54%);
    color: antiquewhite;
    border: none;
    padding: 15px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    border-radius: 20px;
}

 /*Footer*/
 .attribution {
     font-size: 14px;
     text-align: center;
     margin-top: 25px;
 }

 .attribution a {
     color: hsl(228, 45%, 44%);
 }